<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213140479137-0sb0740m94t38jj9m3n4ioioetv6gmdd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213140479137-0sb0740m94t38jj9m3n4ioioetv6gmdd</string>
	<key>API_KEY</key>
	<string>AIzaSyCkiY3rrpL8VhafrQTFP1zQVJapyVKgaio</string>
	<key>GCM_SENDER_ID</key>
	<string>213140479137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled1</string>
	<key>PROJECT_ID</key>
	<string>vibesfinalprojgym1</string>
	<key>STORAGE_BUCKET</key>
	<string>vibesfinalprojgym1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213140479137:ios:21ad22c0a729d8fb0fe4e0</string>
</dict>
</plist>